<h1>{{ nome }}, assim ficou seu pedido. Agora é só confirmar ✌️</h1>
<div *ngFor="let pizzas of getPizzas()">
<p >1 Pizza de {{ pizzas.tipo }} - R$ {{pizzas.preco}} </p>
</div>
<div *ngFor="let bebidas of getBebidas()">
<p *ngIf="!isNaN">1 Bebida {{ bebidas.tipo }} - R$ {{bebidas.preco}} </p>
</div>
<br>
<p class="total">Total: R$ {{getTotal()}}</p>
<div class="centerBtn">
<button mat-flat-button class="btnConfirm" (click)="confirmMessage()">Ir para pagamento</button>
<br>
<button mat-stroked-button class="btnCancel" (click)="redirectChat()">Refazer Pedido</button>
</div>
