*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}



img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}



input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* general styling */

:root {
  /* Primary */

  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);

  /* Neutral */

  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

body {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  color: hsl(234, 12%, 34%);
  background-color: hsl(0, 0%, 98%);
}

.position {
    display: flex;
    justify-content: center;
}


.feature {
  cursor: pointer;
  position: relative;
  max-width: 21rem;
  height: 25rem;
  margin: 2rem auto;
  padding: 2em;
  border-radius: 0.75em;
  box-shadow: 2px 2px 10px rgba(0 0 0/0.15);
  text-align: left;
  transition: transform 200ms ease-in;
}

.feature:hover {
  transform: scale(1.03);
  background-color: #FAF9F6;
}

.feature__desc {
  margin-top: 0.5em;
  color: var(--Grayish-Blue);
}

.feature__img {
  position: absolute;
  bottom: 10%;
  right: 10%;
  width: 10rem;
}

/* separate styling */

.title {
  margin: 0 auto;
  max-width: 90%;
  font-size: 1.65rem;
  font-weight: 300;
  line-height: 1.5em;
  text-align: center;
}

.title span {
  font-weight: 700;
}

.section__desc {
  max-width: 32ch;
  margin: 1rem auto 3rem;
  color: var(--Grayish-Blue);
  font-size: 1rem;
  text-align: center;
}

.feature-one {
  border-top: 5px solid hsl(180, 62%, 55%);;
}

.feature-two {
  border-top: 5px solid hsl(0, 78%, 62%);
}

.feature-three {
  border-top: 5px solid var(--Orange);
}

.feature-four {
  border-top: 5px solid var(--Blue);
}

/* attribution styling */

footer {
  position: absolute;
  top: 0;
}

.attribution {
  color: var(--Very-Dark-Blue);
  opacity: 0.7;
}

.attribution a {
  color: var(--Blue);
  text-decoration: underline;
}

.attribution a:hover {
  color: var(--Cyan);
}

/* media queries */

@media (min-width: 1000px) {
  body {
    align-items: center;
    min-height: 100vh;
  }

  section {
    max-width: 200rem;
  }

  .section__title {
    margin: 0 auto;
    max-width: 40%;
    font-size: 2rem;
  }

  .section__desc {
    max-width: 55ch;
    margin: 1rem auto 1rem;
  }

  .features {
    display: flex;
    gap: 2rem;
  }

  .feature-one {
    margin: auto 0;
  }

  .feature-four {
    margin: auto 0;
  }
}
