<br><br><br>
<h1 class="title">
    Escolha seu método de pagamento 
</h1>

<br><br><br><br><br>

      <div class="position">
      <div class="features">
        <div class="feature feature-one" (click)="goToPix()">
          <h2 class="feature__title">PIX</h2>
          <p class="feature__desc">Realizar o pagamento atravez de um QR Code gerado na tela, para pagamento via transferência PIX.</p>
          <img class="feature__img" src="assets/images/pix.png" alt="">
        </div>
        <div class="wrapper">
          <div class="feature feature-two" (click)="gotoPayEntrega()">
            <h2 class="feature__title">Pagamento na Entrega</h2>
            <p class="feature__desc">Realizar o pagamento quando o pedido chegar. Aceitando: Cartões de credido, debito e dinheiro</p>
            <img class="feature__img" src="assets/images/cred.png" alt="">
          </div>
        </div>

