
<div class="chat" >

  <div class="chat-texts" style="overflow: scroll; height: xyz;" #scrollMe [scrollTop]="scrollMe.scrollHeight">

    <div *ngFor="let messages of msgsUser" >

    <div class="text" *ngIf="messages.nick == 'bot'">
      <div class="profile-pic"> <img
          src="/assets/images/bot.svg"
          alt=""> </div>
      <div class="text-content">
        <h5 style="opacity: 0.6;">Bot</h5>
        {{messages.msg}}<span class="timestamp">{{ currentTime}}</span>
      </div>
    </div>



    <div class="text sent" *ngIf="messages.nick != 'bot'">
      <div class="profile-pic"><img
          src="/assets/images/user.svg"
          alt=""></div>
      <div class="text-content">
        <h5 style="opacity: 0.6;">Cliente</h5>{{messages.msg}}<span class="timestamp">{{ currentTime}}</span>
      </div>
    </div>
  </div>

  </div>

  <div class="send-message">
    <div class="message-text">
      <div class="smiley"></div>
      <input class="message" type="text" placeholder="Envie uma mensagem" [(ngModel)]="userSeparatedMsg" (keyup.enter)="onUpdateMessage()" id="input">
      <div class="attachment"></div>
    </div>
    <button class="send-message-button" (click)="onUpdateMessage()"><i class="material-icons"> chevron_right</i></button>
  </div>


</div>
