*,
*::before,
*::after{
  box-sizing:border-box;
  margin:0;
  padding:0;
}


::selection{
  background:hsl(0, 0%, 0%);
  color:#FF6565;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height:5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsla(0, 0%, 100%);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 50%); 
  border-radius:10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

:root {
  scroll-behavior:smooth;
  word-break: break-all;
}

html,
body{
  height:100%;
}

body{
  display:grid;
  place-items:center;
  font-family:sans-serif;
}

img{
  display:block;
  max-width:100%;
}

.chat{
  margin-left: 30%;
  margin-top: 5%;
  width:80%;
  height: 80%;
  max-width:700px;
  min-width:350px;
  max-height:800px;
  border-radius:7px;
  background:white;
  overflow:hidden;
  display:grid;
  grid-template-rows:80% 20%;
}



.chat-texts{
  background:white;
  padding:2rem;
  overflow:auto;
  scroll-behavior:smooth;
}

.text{
  display:flex;
  padding:0.7rem;
  align-items:start;
  opacity:1;
}

@keyframes fade-in{
  from{
     opacity:0;    
  }
  to{
    opacity:1;
  }
}

.text.sent{
  flex-direction:row-reverse;
}

.text.sent .profile-pic{
  margin-right:0;
  margin-left:0.7rem;
}

.text.sent .text-content{
  border-radius:20px 0px 20px 20px;
  background: #b56576;
  color:white;
}



.profile-pic{
  flex-shrink:0;
  width:50px;
  aspect-ratio:1;
  background:gray;
  border-radius:100%;
  margin-right:0.7rem;
  overflow:hidden;
}

.profile-pic img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.text-content{
  flex-grow:1;
  background:hsl(220, 20%, 94%);
  padding:1.5rem;
  border-radius:0px 20px 20px 20px;
  font-size:0.8rem;
  line-height:130%;
  letter-spacing:0.5px;
}

.timestamp{
  display:block;
  font-size:0.7rem;
  color:hsl(0, 0%, 50%);  
  margin-top:0.2rem;
}


.text.sent .timestamp{
  color:white;
}

.text-content h5{
  letter-spacing:0;
  font-size:0.9rem;
  margin-bottom:0.2rem;
}

.send-message{
  width:100%;
  padding:1rem;
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.message-text{
  width:80%;
  background:white;
  padding:1rem 1.2rem;
  border-radius:100vw;
  display:flex;
  align-items:center;
  justify-content:space-between;
  flex-basis:80%;
  background:hsl(220, 20%, 94%);
}


.smiley, 
.attachment{
  width:20px;
  height:20px;
  display:grid;
  place-items:center;
}

.message-text input{
  padding:0.5rem;
  border:none;
  background:transparent;
}

.message-text input:focus{
  outline:none;
}

button{
  border:none;
  background:transparent;
  width:60px;
  height:60px;
  font-size:2rem;
  border-radius:50%;
  background:#e56b6f;
  color:white;
  display:grid;
  place-items:center;
  transition:300ms ease;
}

button:hover{
  background:black;
  cursor:pointer;
}